
<div class='tips-box'>
	<ul class='tips-list'>
		<li>			
			<div class='text-msg'>
				<span>恭喜&ensp;<span class='user'>我男神弓巾</span>&ensp;用户抽中大奖<span class='money'>199</span>元！</span>
			</div>
		</li>
		<li>			
			<div class='text-msg'>
				<span>恭喜&ensp;<span class='user'>我男神弓巾</span>&ensp;用户抽中大奖<span class='money'>200</span>元！</span>
			</div>
		</li>
		<li>			
			<div class='text-msg'>
				<span>恭喜&ensp;<span class='user'>我男神弓巾</span>&ensp;用户抽中大奖<span class='money'>333</span>元！</span>
			</div>
		</li>
	</ul>
</div>
<div class='count-down' style="font-size: 18px;">10</div>
<div class="activity-box">
	<div class="suliks-list"  id='suliks'>
		<!--<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>
		<div class="suliks"><img src="image/1.png" alt="" /></div>-->

	</div>
</div>
