<!-- <h3>打地鼠活动</h3> -->
<div id="wrap_i">
	<div class="content">
		<div id="state"><a href=""></a></div>
		<ul class="choose">
			<li><a href="javascript:void(0)"><span id="ten">0次</span></a></li>
			<li><a href="javascript:void(0)"><span id="thirty">8次</span></a></li>
			<li><a href="javascript:void(0)"><span id="fifty">9次</span></a></li>
		</ul>
		<ul id="time" style="">
			<li><span class='count-down'>10</span> S</li>
			<li>
				<div>
					<span class="gain">获得<em>15</em>元</span></br>
					<span>敲中<em>3</em>次</span>
				</div>
			</li>
		</ul>

		<!-- 跑马灯 -->
		<div class="burner">
			<div class="b_lis">
				<ul class="list tips-list">
					<li>恭喜用户ID：<span>17038</span> 获得<em>10.07</em>元</li>
					<li>恭喜用户ID：<span>17038</span> 获得<em>12.08</em>元</li>
					<li>恭喜用户ID：<span>17038</span> 获得<em>13.09</em>元</li>
				</ul>
			</div>
		</div>
		<!-- 跑马灯 end-->


		<!-- 游戏说明 -->
		<div id="game_state" class='close-mask' style="display: none;">
			<div class="game_state_d">
				<span id="move" ><img src="image/remove.png" class='close-mask'></span>
				<h4>打地鼠说明</h4>
				<p>1.来源：地鼠是庄家的天敌，为了保护庄家，消除灭地鼠的行动在即</p>
				<h4>游戏玩法</h4>
				<p>1.选择对应的打地鼠游戏工具，按照提示选择支付(余额或者游戏卷)，可优先选择游戏币抵扣先、相对应的的数额，游戏币目前只限于打地鼠游戏，不设找零，游戏币详情可在个人中心查询。</br>
					2.余额不足,可以选择充值,再进行游戏。</br>
					3.支付后消耗对应的币数进行消灭地鼠获得随机奖励
				</p>
				<h4>小提示</h4>
				<p>
					1.快速敲打</br>
					2.连续敲打</br>
					3.地鼠活跃的时候，用高金额来试运气哦！
				</p>
				<h2>邀请多人娱乐 纯属娱乐 切莫沉谜</h2>
			</div>
		</div>
		<!-- 游戏说明 end -->

		<!-- 游戏充值 -->
		<div id="pay_money" class='close-mask' style="display: none;">
			<div class="money_d">
				<span id="money"><img src="image/remove.png" class='close-mask'></span>
				<h4>等级支付</h4>
				<button id="active">￥100</br>立即支付</button>
				<button>￥100</br>立即支付</button>
				<button>￥100</br>立即支付</button>
			</div>
		</div>
		<!-- 游戏充值 end-->

		<div id="suliks-box">
			<ul class='suliks-list clear' id="suliks">
				<!--<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>
				<li><img src="" alt="" /></li>-->
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<!-- gameover -->
		<div id="gameover">
			<div class="gameover_d">
				<span id="over"><img src="image/remove.png"></span>
				<div>
					<ul>
						<li>敲中一次： 得5元</li>
						<li>敲中一次： 得5元</li>
						<li>敲中一次： 得5元</li>
						<li>敲中一次： 得5元</li>
					</ul>
					<h4>等级支付恭喜你获得<span>15</span>元</h4>
					<button>继续打地鼠</button>
				</div>
			</div>
		</div>
		<!-- gameover end -->

		<div class="begin" style="display: none;">
			<span><img src="image/bigin.png" alt="" style="	width: 1.3rem;height: 0.8rem; margin: 0.63rem 0.62rem;"/></span>
		</div>
	</div>
</div>