<!-- <h3>个人中心</h3> -->
<div id="wrap_p">
		<div class="wrap_p_d">
			<div class="header">
				<img src="image/head.png">
				<div>
					<p>彼岸花开南风起</p>
					我的ID：<span>12243</span>
				</div>
			</div>
			<ul class="income">
				<li><span>28.88</span><p>游戏收入</p></li>
				<li><span>28.88</span><p>推广收入</p></li>
				<li><span>28.88</span><p>我的余额</p></li>
			</ul>
			<div id="bg"></div>
			<div class="withdraw">
				<div>可提现金额:<em>200</em>元</div>
				<a href="">提现</a>
			</div>
			<div id="bg"></div>
			<ul class="recharge">
				<li>
					<span>￥<em>29.80</em></span>
					<button>立即充值</button>
				</li>
				<li>
					<img src="image/money.png">
					<div>钱币记录<a href="javascript:void(0)" class="bt_coin"></a></div>
				</li>
				<li>
					<img src="image/recharge.png">
					<div>充值记录<a href="javascript:void(0)" class="bt_record"></a></div>
				</li>
				<li>
					<img src="image/service.png">
					<div>联系客服<a href="javascript:void(0)" class="bt_service"></a></div>
				</li>
			</ul>
		</div>
	

		<!-- 充值记录 -->
		<div id="record">
			<div id="record_c">
				<div class="record_auto">
					<h1>我的钱币记录1</h1>
					<div class="record_words">
						<span class="record_l">金额</span>
						<sapn class="record_r">时间</span>
					</div>
					<ul class="record_lis">
						<li>300.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
						<li>200.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
						<li>400.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
						<li>500.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
						<li>400.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 充值记录 end-->	

</div>
