 <!-- <h3>钱币记录</h3>  -->
<!-- 钱币记录 -->
<div class="wrap_rc">
	<div id="coin">
		<div class="coin_auto">
			<h1>我的钱币记录</h1>
			<div class="words">
				<span class="float_l">金额</span>
				<sapn class="float_r">时间</span>
			</div>
			<ul class="coin_lis">
				<li>300.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
				<li>200.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
				<li>400.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
				<li>500.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
				<li>400.00元<em>2017-04-16&nbsp&nbsp<span>09:28</span></em></li>
			</ul>
		</div>
	</div>
</div>

		<!-- 钱币记录 end